@font-face {
    font-family: Sellena;
    src: url(font/Sellena.ttf);
  }

  .container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%)
  }

 
  h1{
    font-family: Sellena;
    font-size: 5vh;
    color: #61aab8;
  }
  
  .container :nth-child(2){
    display: none;
  }
  
  .container :nth-child(3){
    display: none;
  }
  
  .container :nth-child(4){
    display: none;
  }
  
  .container :nth-child(5){
    display: none;
  }
  
  .container :nth-child(6){
    display: none;
  }