.features-container {
    width: 80%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 48px;
    z-index: 2;
    position: absolute;
    top: -210px;

    background-color: var(--primary);
    box-shadow: -4px 4px 4px 0px rgba(0, 0, 0, 0.25); 

}

.features-container h2{
    width: 100%;
}

.features-card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 24px;
}

.features-card {
    width: 330px;
    height: 360px;
    border-radius: 8px;
    padding: 24px;
}

.features-card img{
    width: 56px;
    height: 56px;
    border-radius: 100px;
}

.features-card:nth-child(1){
    background-color: var(--accent);
}
.features-card:nth-child(2){
    background-color: var(--secondary);
    color: var(--primary);
}
.features-card:nth-child(3){
    background-color: #e6e6e6;
}